<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
        base-type="org.eclipse.vex.ui.XmlDocument"
        file-extensions="xhtml"
        id="org.eclipse.vex.ui.xhtml"
        name="%contentType.name"
        priority="low">
		</content-type>
	</extension>
 <extension
       point="org.eclipse.wst.xml.core.catalogContributions">
    <catalogContribution
          id="default">
       <uri
             name="urn:org:eclipse:vex:styles:xhtml:xhtml1-plain.css"
             uri="styles/xhtml1-plain.css">
       </uri>
       <uri
             name="urn:org:eclipse:vex:styles:xhtml:xhtml1-sans.css"
             uri="styles/xhtml1-sans.css">
       </uri>
       <uri
             name="urn:org:eclipse:vex:styles:xhtml:xhtml1-modern.css"
             uri="styles/xhtml1-modern.css">
       </uri>
    </catalogContribution>
 </extension>

	<extension point="org.eclipse.vex.ui.doctypes"
			   id="xhtml_1_0_strict" 
			   name="XHTML 1.0 Strict">
		<doctype 
			publicId="-//W3C//DTD XHTML 1.0 Strict//EN"
			systemId="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
			outlineProvider="org.eclipse.vex.xhtml.XhtmlOutlineProvider" >
			<rootElement name="html">
			</rootElement>
		</doctype>
	</extension>
	<extension id="xhtml_1_0_plain" name="XHTML Plain"
		point="org.eclipse.vex.ui.styles">
		<style css="styles/xhtml1-plain.css">
			<doctypeRef publicId="-//W3C//DTD XHTML 1.0 Strict//EN">
			</doctypeRef>
		</style>
	</extension>
	<extension id="xhtml_1_0_sans" name="XHTML Sans"
		point="org.eclipse.vex.ui.styles">
		<style css="styles/xhtml1-sans.css">
			<doctypeRef publicId="-//W3C//DTD XHTML 1.0 Strict//EN">
			</doctypeRef>
		</style>
	</extension>
	<extension id="xhtml_1_0_modern" name="XHTML Modern"
		point="org.eclipse.vex.ui.styles">
		<style css="styles/xhtml1-modern.css">
			<doctypeRef publicId="-//W3C//DTD XHTML 1.0 Strict//EN">
			</doctypeRef>
		</style>
	</extension>
	
</plugin>
