
vex|processing-instruction {
	display: inherit;
}

vex|processing-instruction:before {
	display: inline;
	content: '<?',attr(target),' ';
}

vex|processing-instruction:after {
	display: inline;
	content: '?>';
}

vex|comment {
	display: inherit;
}

vex|comment:before {
	display: inline;
	content: '12';
}

vex|comment:after {
	display: inline;
	content: '34';
}

root {
  display: block;
  font: 10pt monospaced;
}


b {
  display: inline;
}

p {
  display: block;
}

